body{
  background-color: lightgrey;
}
#page-top {
  text-align: center;
  background-color: beige;
}
#content{
  width: 70%;
  float: right;
  text-align: center;
  background-color: grey;
}
#sidebar {
  background-color: lightgreen;
  width: 30%;
  height: 1000px;;
  float: left;
}
#text-bar{
  width: 200px;
}
#output-text {
  width: 200px;
  text-align: left;
  margin-left: 58%;
  margin-right: auto;
}
